version: '3.8'

services:
  app:
    image: ${DOCKERHUB_USERNAME}/relief-connect-map:latest
    ports:
      - "5000:8000"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}

